@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.Group2 , .Nab , .MembershipYears {
    font-family: "Rubik", serif;
}
.Rectangle1 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .Rectangle1::before {
    content: '';
    position: absolute;
    width: 100px; 
    height: 130%; 
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: 0; 
  }
  

  .Rectangle1::after {
    content: '';
    position: absolute;
    background: #0D1821;
    inset: 5px;
    border-radius: 10px;
    z-index: 1; 
  }
  
  .Rectangle1 > div {
    position: relative;
    z-index: 2; 
  }
  
  
  
  